.obtine-cariera{
  
  text-align: center;
  font-family: Geist;
  font-weight: bold;
  margin-top: 40px;
  font-size: 30px; 
  background: linear-gradient(to right, #f32170, 
          #ff6b08, #cf23cf, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}

* {
  scroll-behavior: smooth;
}
.preturi{
  margin-right: 25px;
  border: none;
  font-family: Geist;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.reviews{
  margin-right: 20px;
  border: none;
  font-family: Geist;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.cumpara{
  font-size: 13px;
  background-color: black;
  border-radius: 8px;
  transition-duration: 0.4s;
  color:white;
  height: 25px;
  width: 80px;
  cursor: pointer;
}
.cumpara:hover{
  background-color: white;
  color: black;
}
.header{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 210, 210);
  padding-bottom: 10px;
  display: flex;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}
.obtine-ajutor{
  font-family: Geist;
  margin-top:40px;
  text-align: center;
  background: #2a979b;
  background: linear-gradient(90deg, rgba(42, 151, 155, 1) 9%, rgba(61, 155, 116, 1) 20%, rgba(87, 167, 199, 1) 61%, rgba(132, 83, 237, 1) 86%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  font-size: 17px;
}
.butoane-invatare-pret{
  margin-top: 35px;
  text-align: center;
}
.buton-invatare{
  margin-right: 15px;
  background-color: black;
  border-radius: 4px;
  height: 40px;
  color: white;
  font-family: Geist;
  font-size: 18px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  position: relative;
}

.buton-invatare:hover::after, .buton-invatare:hover::before{
    transform: scale(1, 1);
}
.buton-invatare::after, .buton-invatare::before{
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    transition: all 0.5s;
}
.buton-invatare::after{
    border-right: 1px solid rgb(0, 208, 255);
    border-left: 1px solid rgb(0, 208, 255);
    transform: scale(1, 0);
}
.buton-invatare::before{
  border-top: 1px solid rgb(0, 208, 255);
  border-bottom: 1px solid rgb(0, 208, 255);
  transform: scale(0, 1);
}

.buton-pret-centru{
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  border-color: coral;
}
.buton-pret-centru:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.studenti{
  font-size: 27px;
  font-weight: bold;
  margin-left: 320px;
  margin-top: 40px;
}
.studenti-ajutati{
  margin-left: 300px;
  font-size: 16px;
  color: #71717A;
}
.rating-cifre{
  font-size: 27px;
  font-weight: bold;
  margin-left: 300px;
  margin-top: 40px;
  display: inline-block;
}
.succes{
  margin-left: 300px;
  font-size: 27px;
  font-weight: bold;
}
.rating-mediu{
  margin-left: 265px;
  color: #71717A;
  font-size: 16px;
}
.rata-de-succes{
  margin-left: 260px;
  color: #71717A;
  font-size: 16px;
}
.centru{
  height:800px;
  background-color: #f0f0f1;
  opacity: 1;
  width: 100%;
}
.ce-invat{
  padding-top: 30px;
  font-size: 28px;
  text-align: center;
  font-family: Geist;
  font-weight: bold;
}
.meditatii{
  margin-left: 500px;
  font-size: 19px;
  background: linear-gradient(to right, #f32170, 
            #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.limbaje{
  margin-left: 660px;
  font-size: 19px;
   background: linear-gradient(to right, #f32170, 
            #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.card1{
  background-color: white;
  margin-left: 210px;
  margin-top: 40px;
  height: 250px;
  width: 480px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card1:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.limbaje-programare{
  padding-top: 5px;
  padding-left: 34px;
  font-size: 20px;
  font-weight: bold;
}
.stapaneste-python{
  padding-left: 33px;
  color: #616181;
  font-size: 17px;
}
.card-python{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.flex-dreptunghiuri-1{  
  display: flex;
  flex-direction: row;
}
.flex-carduri-1{
  display: flex;
  flex-direction: row;
}
.card-java{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 27px;
}
.card-c{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 27px;
}
.card-javascript{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 27px;
}
.card-go{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.card2{
  background-color: white;
  margin-left: 100px;
  margin-top: 40px;
  height: 250px;
  width: 480px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card2:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dezvoltare-web{
  padding-top: 5px;
  padding-left: 33px;
  font-size: 20px;
  font-weight: bold;
}
.dezvoltare-frontend{
  padding-left: 33px;
  color: #616181;
  font-size: 17px;
}
.card-react{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.card-node{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.card-mongodb{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.card3{
  background-color: white;
  margin-left: 210px;
  margin-top: 40px;
  height: 250px;
  width: 480px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card3:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dezvoltare-software{
  padding-top: 5px;
  padding-left: 33px;
  font-size: 20px;
  font-weight: bold;
}
.modele-de-proiectare{
  padding-left: 33px;
  color: #616181;
  font-size: 17px;
}
.flex-dreptunghiuri-3{
  display: flex;
  flex-direction: row;
}
.card-git{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.modele-design{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.agile{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.card4{
  background-color: white;
  margin-left: 100px;
  margin-top: 40px;
  height: 250px;
  width: 480px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card4:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.flex-carduri-2{
  display: flex;
  flex-direction: row;
}
.pregatire-examen{
  padding-top: 5px;
  padding-left: 33px;
  font-size: 20px;
  font-weight: bold;
}
.interviuri-de-cod{
  padding-left: 33px;
  color: #616181;
  font-size: 17px;
}
.flex-dreptunghiuri-4{
  display: flex;
  flex-direction: row;
}
.card-interviuri-cod{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 31px;
}
.card-cursuri-universitare{
  padding: 5px;
  background-color: #d1d1d8;
  border-radius: 7px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 32px;
}
.optiuni-pret{
  text-align: center;
  font-family: Geist;
  font-weight: bold;
  margin-top: 110px;
  font-size: 30px; 
  background: linear-gradient(to right, #f32170, 
          #ff6b08, #cf23cf, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}
.alege-planul{
  font-family: Geist;
  margin-top:40px;
  text-align: center;
  background: #2a979b;
  background: linear-gradient(90deg, rgba(42, 151, 155, 1) 9%, rgba(61, 155, 116, 1) 20%, rgba(87, 167, 199, 1) 61%, rgba(132, 83, 237, 1) 86%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  font-size: 17px;
}
.flex-carduri-3{
  display: flex;
  flex-direction: row;
}
.card5{
  margin-left: 100px;
  margin-top: 40px;
  height: 550px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); 
  backdrop-filter: blur(10px);
}
.sesiune-unica{
  padding-top: 25px;
  padding-left: 25px;
  font-size: 35px;
  color: white;
}
.intrebari-specifice{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.ajutor-unic{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.euro1{
  color: white;
  padding-left: 25px;
  font-size: 35px;
  padding-top: 20px;
  display: inline-block;
}
.ora1{
  color: white;
  font-size: 18px;
  display: inline-block;
}
.sesiune-card1{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.partajare-card1{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.inregistrare-card1{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.buton-card5{
  margin-top: 50px;
  left: 23%;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}
.buton-card5:hover::after, .buton-card5:hover::before{
    transform: scale(1, 1);
}
.buton-card5::after, .buton-card5::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transition: all 0.5s;
}
.buton-card5::after{
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
    transform: scale(1, 0);
}
.buton-card5::before{
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  transform: scale(0, 1);
}
.card6{
  margin-left: 150px;
  margin-top: 40px;
  height: 550px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  backdrop-filter: blur(10px);
}
.oferta-card6{
  padding-top: 25px;
  padding-left: 25px;
  font-size: 35px;
  color: white;
}
.varianta-card6{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.invatare-continua{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.pachet-card2{
  color: white;
  padding-left: 9px;
  font-size: 18px;
}
.tutoring-card2{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.program-card2{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.materiale-card2{
  color: white;
  font-size: 18px;
  padding-left: 9px;
}
.buton-card6{
  margin-top: 11px;
  margin-left: 73px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}
.buton-card6:hover::after, .buton-card6:hover::before{
    transform: scale(1, 1);
}
.buton-card6::after, .buton-card6::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 10px;
    left: 15px;
    transition: all 0.5s;
}
.buton-card6::after{
    border-right: 1px solid rgb(0, 208, 255);
    border-left: 1px solid rgb(0, 208, 255);
    transform: scale(1, 0);
}
.buton-card6::before{
  border-top: 1px solid rgb(0, 208, 255);
  border-bottom: 1px solid rgb(0, 208, 255);
  transform: scale(0, 1);
}
.card7{
  margin-left: 150px;
  margin-top: 40px;
  height: 550px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); 
  backdrop-filter: blur(10px);
}
.program-card7{
  padding-top: 25px;
  padding-left: 25px;
  font-size: 35px;
  color: white;
}
.invatare-intensiva-card7{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.studenti-card7{
  color: white;
  padding-left: 25px;
  font-size: 18px;
}
.intalneste-tutore{
  margin-top: 225px;
  margin-left: 60px;
  font-size: 28px;
  font-family: Geist;
  font-weight: bold;
}
.Andrei{
  margin-left: 59px;
  font-size: 21px;
  color: #3a3a44;
  width: 800px;
  word-break: break-word;
}
.master{
  margin-left: 9px;
  font-size: 21px;
  color: black;
}
.indiferent{
  margin-left: 59px;
  font-size: 21px;
  color: #3a3a44;
  width: 800px;
  word-break: break-word;
  margin-top: 25px;
}
.ce-spun-studentii{
  text-align: center;
  font-family: Geist;
  font-weight: bold;
  margin-top: 180px;
  font-size: 30px; 
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.credeti-pe-cuvant{
  font-family: Geist;
  font-weight: bold;
  background: linear-gradient(90deg, #c31432 0%, #240b36 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  width: 600px;
  margin-left: 500px;
  margin-top: 40px;
  font-size: 22px;
}
.flex-carduri-4{
  display: flex;
  flex-direction: row;
}
.card8{
  background-color: #f0f0f1;
  margin-left: 95px;
  margin-top: 100px;
  height: 350px;
  width: 320px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
card8:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.sarah-card8{
  padding-top: 25px;
  padding-left: 50px;
  font-size: 19px;
  color: black;
  font-weight: bold;
}
.stanford-card8{
  padding-left: 50px;
  color: black;
}
.text-card8{
  margin-left: 50px;
  font-size: 19px;
  color: black;
  width: 190px;
  word-break: break-word;
  margin-top: 20px;
}
.gata-sa-inveti{
  text-align: center;
  font-family: Geist;
  font-weight: bold;
  padding-top: 60px;
  font-size: 30px; 
  background: linear-gradient(to right, #f32170, 
          #ff6b08, #cf23cf, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}
.final{
  margin-top: 70px;
  height:600px;
  background-color: #f0f0f1;
  opacity: 1;
  width: 100%;
}
.rezerva-final{
  margin-left: 435px;
  margin-top: 30px;
  font-size: 22px;
  background: linear-gradient(to right, #f32170, 
            #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.flex-carduri-5{
  display: flex;
  flex-direction: row;
}
.card9{
  background-color: white;
  margin-left: 145px;
  margin-top: 100px;
  height: 300px;
  width: 460px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card9:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.rezerva{
  padding-left: 18px;
  font-size: 21px;
  font-weight: bold;
}
.tutoring-card9{
  margin-left: 19px;
  font-size: 18px;
  color: #3a3a44;
  width: 400px;
  word-break: break-word;
}
.disponibil-card9{
  margin-left: 19px;
  font-size: 17px;
  color: #3a3a44;
}
.buton-card9{
  margin-top: 40px;
  margin-left: 73px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}
.buton-card9:hover::after, .buton-card9:hover::before{
  transform: scale(1, 1);
}
.buton-card9::after, .buton-card9::before{
  content: '';
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 6px;
  left: 10px;
  transition: all 0.5s;
}
.buton-card9::after{
  border-right: 1px solid rgb(0, 208, 255);
  border-left: 1px solid rgb(0, 208, 255);
  transform: scale(1, 0);
}
.buton-card9::before{
  border-top: 1px solid rgb(0, 208, 255);
  border-bottom: 1px solid rgb(0, 208, 255);
  transform: scale(0, 1);
}
.buton-card10{
  margin-top: 15px;
  margin-left: 90px;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}
.buton-card10:hover::after, .buton-card10:hover::before{
  transform: scale(1, 1);
}
.buton-card10::after, .buton-card10::before{
  content: '';
  position: absolute;
  top: 6px;
  right: 12px;
  bottom: 6px;
  left: 12px;
  transition: all 0.5s;
}
.buton-card10::after{
  border-right: 1px solid rgb(0, 208, 255);
  border-left: 1px solid rgb(0, 208, 255);
  transform: scale(1, 0);
}
.buton-card10::before{
  border-top: 1px solid rgb(0, 208, 255);
  border-bottom: 1px solid rgb(0, 208, 255);
  transform: scale(0, 1);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
 /* background-color: #efb6b6;*/
  background-color: #ebebfa;
  margin: 1% auto;
  padding: 50px 20px 240px 50px;
  border: 1px solid #888;
  width: 50%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.email{
  font-size: 21px;
  text-align: center;
}
.numar-de-telefon{
  font-size: 21px;
  text-align: center;
}
input{
  margin: 10px auto;
  display: block;
  border: 2px solid #0d6f8a;
  border-radius: 5px;
  padding: 13px 15px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
.data{
  font-size: 21px;
  text-align: center;
}
.selecteaza-ora{
  font-size: 21px;
  text-align: center;
}
.programeaza{
  margin-top: 55px;
  text-align: center;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 17px;
  position: relative;
  left: 34%;
}
.programeaza:hover::after, .programeaza:hover::before{
  transform: scale(1, 1);
}
.programeaza::after, .programeaza::before{
  content: '';
  position: absolute;
  top: 6px;
  right: 12px;
  bottom: 6px;
  left: 12px;
  transition: all 0.5s;
}
.programeaza::after{
  border-right: 1px solid rgb(0, 208, 255);
  border-left: 1px solid rgb(0, 208, 255);
  transform: scale(1, 0);
}
.programeaza::before{
  border-top: 1px solid rgb(0, 208, 255);
  border-bottom: 1px solid rgb(0, 208, 255);
  transform: scale(0, 1);
}
.modalProgramat {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-continut {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.inchide {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.inchide:hover,
.inchide:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalContact {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-contact {
  background-color: #ebebfa;
  margin: 1% auto;
  padding: 50px 20px 240px 50px;
  border: 1px solid #888;
  width: 50%; 
}

/* The Close Button */
.closeContact {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeContact:hover,
.closeContact:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.mesaj-contact{
  font-size: 21px;
  text-align: center;
}
/*.input-contact{
  padding: 30px 30px;
  border-radius: 10px;
}*/
textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.modalContact2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-contact2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeContact2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeContact2:hover,
.closeContact2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.imagini-primele4carduri{
  height: 30px;
  padding-left: 30px;
  padding-top: 30px;
}
.icon-bifa{
  padding-left: 5px;
  height: 30px;
  padding-top: 13px;
}
.imagine-eu{
  display: inline;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 200px;
  margin-left: 140px;
}
